In [1]:
import pandas as pd
import numpy as np

## Xóa các header thừa ở tất cả các file.

### Transaction History

In [2]:
his_cost_01 = pd.read_csv(r'/home/hamornic/FinalXXX/DataScraped/Transaction History/lịch_sử giá_01.csv')
his_cost_01.head()

,Stock_code,Tên công ty,Ngày,Giá đóng cửa,Giá điều chỉnh,Thay đổi,Khối lượng khớp lệnh,Giá trị khớp lệnh,Khối lượng thỏa thuận,Giá trị thỏa thuận,Giá mở cửa,Giá cao nhất,Giá thấp nhất
0,ABC,CTCP Truyền thông VMG,Ngày,Giá (nghìn VNĐ),Thay đổi,GD khớp lệnh,GD thỏa thuận,Giá (nghìn VNĐ),NaN,NaN,NaN,NaN,NaN
1,ABC,CTCP Truyền thông VMG,Đóng cửa,Điều chỉnh,Khối lượng,Giá trị (tỷ VNĐ),Khối lượng,Giá trị (tỷ VNĐ),Mở cửa,Cao nhất,Thấp nhất,NaN,NaN
2,ABC,CTCP Truyền thông VMG,07/03/2025,12.4,--,0(0.00 %),"51,790",0.64,0,0,12.6,12.6,12.3
3,ABC,CTCP Truyền thông VMG,06/03/2025,12.4,--,0(0.00 %),"75,116",0.93,0,0,12.4,12.7,12.3
4,ABC,CTCP Truyền thông VMG,05/03/2025,12.5,--,0(0.00 %),"69,500",0.86,0,0,12.6,12.6,12.3

In [3]:
his_cost_02 = pd.read_csv(r'/home/hamornic/FinalXXX/DataScraped/Transaction History/lịch_sử giá_02.csv')
his_cost_02.head()

,Stock_code,Tên công ty,Ngày,Giá đóng cửa,Giá điều chỉnh,Thay đổi,Khối lượng khớp lệnh,Giá trị khớp lệnh,Khối lượng thỏa thuận,Giá trị thỏa thuận,Giá mở cửa,Giá cao nhất,Giá thấp nhất
0,BED,CTCP Sách và Thiết bị Trường học Đà Nẵng,Ngày,Giá (nghìn VNĐ),Thay đổi,GD khớp lệnh,GD thỏa thuận,Giá (nghìn VNĐ),NaN,NaN,NaN,NaN,NaN
1,BED,CTCP Sách và Thiết bị Trường học Đà Nẵng,Đóng cửa,Điều chỉnh,Khối lượng,Giá trị (tỷ VNĐ),Khối lượng,Giá trị (tỷ VNĐ),Mở cửa,Cao nhất,Thấp nhất,NaN,NaN
2,BED,CTCP Sách và Thiết bị Trường học Đà Nẵng,10/03/2025,--,--,--,0,0,0,0,30.8,0.0,0.0
3,BED,CTCP Sách và Thiết bị Trường học Đà Nẵng,07/03/2025,30.8,--,0(0.00 %),0,0,0,0,30.8,30.8,30.8
4,BED,CTCP Sách và Thiết bị Trường học Đà Nẵng,06/03/2025,30.8,--,0(0.00 %),0,0,0,0,30.8,30.8,30.8

In [4]:
his_cost_03 = pd.read_csv(r'/home/hamornic/FinalXXX/DataScraped/Transaction History/lịch_sử giá_03.csv', low_memory=False)

his_cost_03.head()

,Stock_code,Tên công ty,Ngày,Giá đóng cửa,Giá điều chỉnh,Thay đổi,Khối lượng khớp lệnh,Giá trị khớp lệnh,Khối lượng thỏa thuận,Giá trị thỏa thuận,Giá mở cửa,Giá cao nhất,Giá thấp nhất
0,CTR,Tổng Công ty cổ phần Công trình Viettel,Ngày,Giá (nghìn VNĐ),Thay đổi,GD khớp lệnh,GD thỏa thuận,Giá (nghìn VNĐ),NaN,NaN,NaN,NaN,NaN
1,CTR,Tổng Công ty cổ phần Công trình Viettel,Đóng cửa,Điều chỉnh,Khối lượng,Giá trị (tỷ VNĐ),Khối lượng,Giá trị (tỷ VNĐ),Mở cửa,Cao nhất,Thấp nhất,NaN,NaN
2,CTR,Tổng Công ty cổ phần Công trình Viettel,10/03/2025,--,--,--,"262,100",31.46,0,0,120.5,121,119.4
3,CTR,Tổng Công ty cổ phần Công trình Viettel,07/03/2025,120.3,--,0.5(0.42 %),"481,000",57.81,0,0,119.8,121.2,119.3
4,CTR,Tổng Công ty cổ phần Công trình Viettel,06/03/2025,119.8,--,0.8(0.67 %),"406,800",48.53,0,0,119.1,120.2,118.8

In [5]:
his_cost = pd.concat([his_cost_01, his_cost_02, his_cost_03], axis = 0, ignore_index=True)
his_cost.head()

,Stock_code,Tên công ty,Ngày,Giá đóng cửa,Giá điều chỉnh,Thay đổi,Khối lượng khớp lệnh,Giá trị khớp lệnh,Khối lượng thỏa thuận,Giá trị thỏa thuận,Giá mở cửa,Giá cao nhất,Giá thấp nhất
0,ABC,CTCP Truyền thông VMG,Ngày,Giá (nghìn VNĐ),Thay đổi,GD khớp lệnh,GD thỏa thuận,Giá (nghìn VNĐ),NaN,NaN,NaN,NaN,NaN
1,ABC,CTCP Truyền thông VMG,Đóng cửa,Điều chỉnh,Khối lượng,Giá trị (tỷ VNĐ),Khối lượng,Giá trị (tỷ VNĐ),Mở cửa,Cao nhất,Thấp nhất,NaN,NaN
2,ABC,CTCP Truyền thông VMG,07/03/2025,12.4,--,0(0.00 %),"51,790",0.64,0,0,12.6,12.6,12.3
3,ABC,CTCP Truyền thông VMG,06/03/2025,12.4,--,0(0.00 %),"75,116",0.93,0,0,12.4,12.7,12.3
4,ABC,CTCP Truyền thông VMG,05/03/2025,12.5,--,0(0.00 %),"69,500",0.86,0,0,12.6,12.6,12.3

In [6]:
his_cost.shape

(179953, 13)

In [7]:
his_cost = his_cost[(his_cost['Ngày'] != 'Ngày') & (his_cost['Ngày'] != 'Đóng cửa')]

In [8]:
his_cost.head()

,Stock_code,Tên công ty,Ngày,Giá đóng cửa,Giá điều chỉnh,Thay đổi,Khối lượng khớp lệnh,Giá trị khớp lệnh,Khối lượng thỏa thuận,Giá trị thỏa thuận,Giá mở cửa,Giá cao nhất,Giá thấp nhất
2,ABC,CTCP Truyền thông VMG,07/03/2025,12.4,--,0(0.00 %),"51,790",0.64,0,0,12.6,12.6,12.3
3,ABC,CTCP Truyền thông VMG,06/03/2025,12.4,--,0(0.00 %),"75,116",0.93,0,0,12.4,12.7,12.3
4,ABC,CTCP Truyền thông VMG,05/03/2025,12.5,--,0(0.00 %),"69,500",0.86,0,0,12.6,12.6,12.3
5,ABC,CTCP Truyền thông VMG,04/03/2025,12.6,--,-0.1(-0.79 %),"79,197",0.99,0,0,12.6,12.7,12.3
6,ABC,CTCP Truyền thông VMG,03/03/2025,12.7,--,-0.1(-0.78 %),"56,065",0.71,0,0,12.8,12.9,12.6

In [9]:
his_cost.info()

<class 'pandas.core.frame.DataFrame'>
Index: 163547 entries, 2 to 179952
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Stock_code             163547 non-null  object
 1   Tên công ty            163547 non-null  object
 2   Ngày                   163547 non-null  object
 3   Giá đóng cửa           163547 non-null  object
 4   Giá điều chỉnh         163547 non-null  object
 5   Thay đổi               163547 non-null  object
 6   Khối lượng khớp lệnh   163547 non-null  object
 7   Giá trị khớp lệnh      163547 non-null  object
 8   Khối lượng thỏa thuận  163547 non-null  object
 9   Giá trị thỏa thuận     163547 non-null  object
 10  Giá mở cửa             163547 non-null  object
 11  Giá cao nhất           163547 non-null  object
 12  Giá thấp nhất          163547 non-null  object
dtypes: object(13)
memory usage: 17.5+ MB

In [10]:
his_cost.rename(columns={
    "Stock_code": "stock_code",
    "Tên công ty": "company_name",
    "Ngày": "transaction_date",
    "Giá đóng cửa": "closing_price",
    "Giá điều chỉnh": "adjusted_price",
    "Thay đổi": "change",
    "Khối lượng khớp lệnh": "matched_volume",
    "Giá trị khớp lệnh": "matched_value",
    "Khối lượng thỏa thuận": "negotiated_volume",
    "Giá trị thỏa thuận": "negotiated_value",
    "Giá mở cửa": "opening_price",
    "Giá cao nhất": "highest_price",
    "Giá thấp nhất": "lowest_price"
}, inplace=True)

his_cost.head()

,stock_code,company_name,transaction_date,closing_price,adjusted_price,change,matched_volume,matched_value,negotiated_volume,negotiated_value,opening_price,highest_price,lowest_price
2,ABC,CTCP Truyền thông VMG,07/03/2025,12.4,--,0(0.00 %),"51,790",0.64,0,0,12.6,12.6,12.3
3,ABC,CTCP Truyền thông VMG,06/03/2025,12.4,--,0(0.00 %),"75,116",0.93,0,0,12.4,12.7,12.3
4,ABC,CTCP Truyền thông VMG,05/03/2025,12.5,--,0(0.00 %),"69,500",0.86,0,0,12.6,12.6,12.3
5,ABC,CTCP Truyền thông VMG,04/03/2025,12.6,--,-0.1(-0.79 %),"79,197",0.99,0,0,12.6,12.7,12.3
6,ABC,CTCP Truyền thông VMG,03/03/2025,12.7,--,-0.1(-0.78 %),"56,065",0.71,0,0,12.8,12.9,12.6

In [11]:
his_cost['transaction_date'] = pd.to_datetime(his_cost['transaction_date'], errors='coerce', dayfirst=True)

### Khối ngoại

In [14]:
foreign_block = pd.read_csv(r'/home/hamornic/FinalXXX/DataScraped/Transaction History/khối_ngoại.csv', low_memory=False)
foreign_block.head()

,Stock_code,Tên công ty,Ngày,Thay đổi,Giao dịch ròng - Khối lượng,Giao dịch ròng - Giá trị (tỷ VNĐ),Mua - Khối lượng,Mua - Giá trị (tỷ VNĐ),Bán - Khối lượng,Bán - Giá trị (tỷ VNĐ),Room còn lại,Đang sở hữu
0,ABC,CTCP Truyền thông VMG,Ngày,Thay đổi,Giao dịch ròng,Mua,Bán,Room còn lại,Đang sở hữu,NaN,NaN,NaN
1,ABC,CTCP Truyền thông VMG,Khối lượng,Giá trị (tỷ VNĐ),Khối lượng,Giá trị (tỷ VNĐ),Khối lượng,Giá trị (tỷ VNĐ),NaN,NaN,NaN,NaN
2,ABC,CTCP Truyền thông VMG,11/03/2025,12.2(-0.81 %),0,0,0,0,0,0,0,0%
3,ABC,CTCP Truyền thông VMG,10/03/2025,12.2(-1.61 %),0,0,0,0,0,0,0,0%
4,ABC,CTCP Truyền thông VMG,07/03/2025,12.4(0.00 %),0,0,0,0,0,0,0,0%

In [15]:
foreign_block = foreign_block[(foreign_block['Ngày'] != 'Ngày') & (foreign_block['Ngày'] != 'Khối lượng')]

In [16]:
foreign_block.head()

,Stock_code,Tên công ty,Ngày,Thay đổi,Giao dịch ròng - Khối lượng,Giao dịch ròng - Giá trị (tỷ VNĐ),Mua - Khối lượng,Mua - Giá trị (tỷ VNĐ),Bán - Khối lượng,Bán - Giá trị (tỷ VNĐ),Room còn lại,Đang sở hữu
2,ABC,CTCP Truyền thông VMG,11/03/2025,12.2(-0.81 %),0,0,0,0,0,0,0,0%
3,ABC,CTCP Truyền thông VMG,10/03/2025,12.2(-1.61 %),0,0,0,0,0,0,0,0%
4,ABC,CTCP Truyền thông VMG,07/03/2025,12.4(0.00 %),0,0,0,0,0,0,0,0%
5,ABC,CTCP Truyền thông VMG,06/03/2025,12.4(0.00 %),0,0,0,0,0,0,0,0%
6,ABC,CTCP Truyền thông VMG,05/03/2025,12.5(0.00 %),0,0,0,0,0,0,0,0%

In [17]:
foreign_block.info()

<class 'pandas.core.frame.DataFrame'>
Index: 137897 entries, 2 to 151726
Data columns (total 12 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Stock_code                         137897 non-null  object
 1   Tên công ty                        137897 non-null  object
 2   Ngày                               137897 non-null  object
 3   Thay đổi                           137897 non-null  object
 4   Giao dịch ròng - Khối lượng        137897 non-null  object
 5   Giao dịch ròng - Giá trị (tỷ VNĐ)  137897 non-null  object
 6   Mua - Khối lượng                   137897 non-null  object
 7   Mua - Giá trị (tỷ VNĐ)             137897 non-null  object
 8   Bán - Khối lượng                   137897 non-null  object
 9   Bán - Giá trị (tỷ VNĐ)             137897 non-null  object
 10  Room còn lại                       137897 non-null  object
 11  Đang sở hữu                        137897 non-null  object
dtypes: object(12)
memory usage: 13.7+ MB

In [18]:
foreign_block.rename(columns={
    "Stock_code": "stock_code",
    "Tên công ty": "company_name",
    "Ngày": "transaction_date",
    "Thay đổi": "change",
    "Giao dịch ròng - Khối lượng": "foreign_net_volume",
    "Giao dịch ròng - Giá trị (tỷ VNĐ)": "foreign_net_value",
    "Mua - Khối lượng": "foreign_buy_volume",
    "Mua - Giá trị (tỷ VNĐ)": "foreign_buy_value",
    "Bán - Khối lượng": "foreign_sell_volume",
    "Bán - Giá trị (tỷ VNĐ)": "foreign_sell_value",
    "Room còn lại": "remaining_room",
    "Đang sở hữu": "foreign_ownership"
}, inplace=True)

foreign_block.head()

,stock_code,company_name,transaction_date,change,foreign_net_volume,foreign_net_value,foreign_buy_volume,foreign_buy_value,foreign_sell_volume,foreign_sell_value,remaining_room,foreign_ownership
2,ABC,CTCP Truyền thông VMG,11/03/2025,12.2(-0.81 %),0,0,0,0,0,0,0,0%
3,ABC,CTCP Truyền thông VMG,10/03/2025,12.2(-1.61 %),0,0,0,0,0,0,0,0%
4,ABC,CTCP Truyền thông VMG,07/03/2025,12.4(0.00 %),0,0,0,0,0,0,0,0%
5,ABC,CTCP Truyền thông VMG,06/03/2025,12.4(0.00 %),0,0,0,0,0,0,0,0%
6,ABC,CTCP Truyền thông VMG,05/03/2025,12.5(0.00 %),0,0,0,0,0,0,0,0%

In [19]:
foreign_block['transaction_date'] = pd.to_datetime(foreign_block['transaction_date'], errors='coerce', dayfirst=True)

### THống kê đặt lệnh

In [21]:
order_stat = pd.read_csv(r'/home/hamornic/FinalXXX/DataScraped/Transaction History/thống_kê_đặt_lệnh_01.csv')
order_stat.head()

,Stock_code,Tên công ty,Ngày,Thay đổi,Số lệnh Mua,Khối lượng Mua,KLTB 1 lệnh Mua,Số lệnh Bán,Khối lượng Bán,KLTB 1 lệnh Bán,Khối lượng ròng
0,ABC,CTCP Truyền thông VMG,Ngày,Thay đổi,Mua,Bán,Khối lượng ròng,NaN,NaN,NaN,NaN
1,ABC,CTCP Truyền thông VMG,Số lệnh,Khối lượng,KLTB 1 lệnh,Số lệnh,Khối lượng,KLTB 1 lệnh,NaN,NaN,NaN
2,ABC,CTCP Truyền thông VMG,10/03/2025,12.2 ( -1.61 %),113,"69,300",613.27,93,"106,400","1,144","-37,100"
3,ABC,CTCP Truyền thông VMG,07/03/2025,12.4 ( 0 %),128,"106,500",832.03,94,"231,900","2,467","-125,400"
4,ABC,CTCP Truyền thông VMG,06/03/2025,12.4 ( 0 %),135,"114,100",845.19,119,"173,200","1,455","-59,100"

In [22]:
order_stat = order_stat[(order_stat['Ngày'] != 'Ngày') & (order_stat['Ngày'] != 'Số lệnh')]
order_stat.head()

,Stock_code,Tên công ty,Ngày,Thay đổi,Số lệnh Mua,Khối lượng Mua,KLTB 1 lệnh Mua,Số lệnh Bán,Khối lượng Bán,KLTB 1 lệnh Bán,Khối lượng ròng
2,ABC,CTCP Truyền thông VMG,10/03/2025,12.2 ( -1.61 %),113,"69,300",613.27,93,"106,400","1,144","-37,100"
3,ABC,CTCP Truyền thông VMG,07/03/2025,12.4 ( 0 %),128,"106,500",832.03,94,"231,900","2,467","-125,400"
4,ABC,CTCP Truyền thông VMG,06/03/2025,12.4 ( 0 %),135,"114,100",845.19,119,"173,200","1,455","-59,100"
5,ABC,CTCP Truyền thông VMG,05/03/2025,12.5 ( 0 %),94,"115,600","1,229.79",77,"140,300","1,822","-24,700"
6,ABC,CTCP Truyền thông VMG,04/03/2025,12.6 ( -0.79 %),167,"151,700",908.38,107,"192,900","1,803","-41,200"

In [23]:
order_stat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 136255 entries, 2 to 149922
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Stock_code       136255 non-null  object
 1   Tên công ty      136255 non-null  object
 2   Ngày             136255 non-null  object
 3   Thay đổi         136255 non-null  object
 4   Số lệnh Mua      136255 non-null  object
 5   Khối lượng Mua   136255 non-null  object
 6   KLTB 1 lệnh Mua  136255 non-null  object
 7   Số lệnh Bán      136255 non-null  object
 8   Khối lượng Bán   136255 non-null  object
 9   KLTB 1 lệnh Bán  136255 non-null  object
 10  Khối lượng ròng  136255 non-null  object
dtypes: object(11)
memory usage: 12.5+ MB

In [24]:
order_stat.rename(columns={
    "Stock_code": "stock_code",
    "Tên công ty": "company_name",
    "Ngày": "transaction_date",
    "Thay đổi": "change",
    "Số lệnh Mua": "buy_orders",
    "Khối lượng Mua": "buy_volume",
    "KLTB 1 lệnh Mua": "avg_buy_volume_per_order",  # Không có trong danh sách, tạm dịch
    "Số lệnh Bán": "sell_orders",
    "Khối lượng Bán": "sell_volume",
    "KLTB 1 lệnh Bán": "avg_sell_volume_per_order",  # Không có trong danh sách, tạm dịch
    "Khối lượng ròng": "net_volume"
}, inplace=True)

order_stat.head()

,stock_code,company_name,transaction_date,change,buy_orders,buy_volume,avg_buy_volume_per_order,sell_orders,sell_volume,avg_sell_volume_per_order,net_volume
2,ABC,CTCP Truyền thông VMG,10/03/2025,12.2 ( -1.61 %),113,"69,300",613.27,93,"106,400","1,144","-37,100"
3,ABC,CTCP Truyền thông VMG,07/03/2025,12.4 ( 0 %),128,"106,500",832.03,94,"231,900","2,467","-125,400"
4,ABC,CTCP Truyền thông VMG,06/03/2025,12.4 ( 0 %),135,"114,100",845.19,119,"173,200","1,455","-59,100"
5,ABC,CTCP Truyền thông VMG,05/03/2025,12.5 ( 0 %),94,"115,600","1,229.79",77,"140,300","1,822","-24,700"
6,ABC,CTCP Truyền thông VMG,04/03/2025,12.6 ( -0.79 %),167,"151,700",908.38,107,"192,900","1,803","-41,200"

In [25]:
order_stat['transaction_date'] = pd.to_datetime(order_stat['transaction_date'], errors='coerce', dayfirst=True)

### Tự doanh

In [27]:
self_employ = pd.read_csv(r'/home/hamornic/FinalXXX/DataScraped/Transaction History/tự_doanh.csv')
self_employ.head()

,Stock_code,Tên công ty,Mã,Ngày,Khối lượng mua,Giá trị mua(tỷ VND),Khối lượng bán,Giá trị bán(tỷ VND),Giá trị ròng_Khối lượng,Giá trị ròng_giá trị(Tỷ VND)
0,ABC,CTCP Truyền thông VMG,Mã,Ngày,Mua,Bán,Giao dịch ròng,NaN,NaN,NaN
1,ABC,CTCP Truyền thông VMG,Khối lượng,Giá trị (tỷ VNĐ),Khối lượng,Giá trị (tỷ VNĐ),Khối lượng,Giá trị (tỷ VNĐ),NaN,NaN
2,ABC,CTCP Truyền thông VMG,KHÔNG CÓ KẾT QUẢ PHÙ HỢP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABR,CTCP Đầu tư Nhãn hiệu Việt,Mã,Ngày,Mua,Bán,Giao dịch ròng,NaN,NaN,NaN
4,ABR,CTCP Đầu tư Nhãn hiệu Việt,Khối lượng,Giá trị (tỷ VNĐ),Khối lượng,Giá trị (tỷ VNĐ),Khối lượng,Giá trị (tỷ VNĐ),NaN,NaN

In [28]:
self_employ = self_employ[(self_employ['Mã'] != 'Mã') & (self_employ['Mã'] != 'Khối lượng') & (self_employ['Mã'] != 'KHÔNG CÓ KẾT QUẢ PHÙ HỢP')]
self_employ.head()

,Stock_code,Tên công ty,Mã,Ngày,Khối lượng mua,Giá trị mua(tỷ VND),Khối lượng bán,Giá trị bán(tỷ VND),Giá trị ròng_Khối lượng,Giá trị ròng_giá trị(Tỷ VND)
5,ABR,CTCP Đầu tư Nhãn hiệu Việt,ABR,11/04/2023,0,0,100,0,-100,-0.00
11,ADG,CTCP Clever Group,ADG,12/05/2023,0,0,200,0.01,-200,-0.01
12,ADG,CTCP Clever Group,ADG,30/03/2023,0,0,100,0,-100,-0.00
27,CTR,Tổng Công ty cổ phần Công trình Viettel,CTR,13/03/2025,"20,200",2.36,0,0,"20,200",2.36
28,CTR,Tổng Công ty cổ phần Công trình Viettel,CTR,12/03/2025,"2,600",0.31,0,0,"2,600",0.31

In [29]:
self_employ.info()

<class 'pandas.core.frame.DataFrame'>
Index: 466 entries, 5 to 638
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Stock_code                    466 non-null    object
 1   Tên công ty                   466 non-null    object
 2   Mã                            466 non-null    object
 3   Ngày                          466 non-null    object
 4   Khối lượng mua                466 non-null    object
 5   Giá trị mua(tỷ VND)           466 non-null    object
 6   Khối lượng bán                466 non-null    object
 7   Giá trị bán(tỷ VND)           466 non-null    object
 8   Giá trị ròng_Khối lượng       466 non-null    object
 9   Giá trị ròng_giá trị(Tỷ VND)  466 non-null    float64
dtypes: float64(1), object(9)
memory usage: 40.0+ KB

In [30]:
self_employ.drop(['Mã'], axis=1, inplace=True)

In [31]:
self_employ.rename(columns={
    "Stock_code": "stock_code",
    "Tên công ty": "company_name",
    "Ngày": "transaction_date",
    "Khối lượng mua": "proprietary_buy_volume",
    "Giá trị mua(tỷ VND)": "proprietary_buy_value",
    "Khối lượng bán": "proprietary_sell_volume",
    "Giá trị bán(tỷ VND)": "proprietary_sell_value",
    "Giá trị ròng_Khối lượng": "proprietary_net_volume",
    "Giá trị ròng_giá trị(Tỷ VND)": "proprietary_net_value"
}, inplace=True)
self_employ.head()

,stock_code,company_name,transaction_date,proprietary_buy_volume,proprietary_buy_value,proprietary_sell_volume,proprietary_sell_value,proprietary_net_volume,proprietary_net_value
5,ABR,CTCP Đầu tư Nhãn hiệu Việt,11/04/2023,0,0,100,0,-100,-0.00
11,ADG,CTCP Clever Group,12/05/2023,0,0,200,0.01,-200,-0.01
12,ADG,CTCP Clever Group,30/03/2023,0,0,100,0,-100,-0.00
27,CTR,Tổng Công ty cổ phần Công trình Viettel,13/03/2025,"20,200",2.36,0,0,"20,200",2.36
28,CTR,Tổng Công ty cổ phần Công trình Viettel,12/03/2025,"2,600",0.31,0,0,"2,600",0.31

In [32]:
self_employ['transaction_date'] = pd.to_datetime(self_employ['transaction_date'], errors='coerce', dayfirst=True)

In [45]:
his_cost['stock_code'] = his_cost['stock_code'].str.strip()
foreign_block['stock_code'] = foreign_block['stock_code'].str.strip()

In [46]:
merged_df = his_cost.merge(foreign_block, on=['stock_code', 'transaction_date'], how='inner')

In [47]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161574 entries, 0 to 161573
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   stock_code           161574 non-null  object
 1   company_name_x       161574 non-null  object
 2   transaction_date     161574 non-null  datetime64[ns]
 3   closing_price        161574 non-null  object
 4   adjusted_price       161574 non-null  object
 5   change_x             161574 non-null  object
 6   matched_volume       161574 non-null  object
 7   matched_value        161574 non-null  object
 8   negotiated_volume    161574 non-null  object
 9   negotiated_value     161574 non-null  object
 10  opening_price        161574 non-null  object
 11  highest_price        161574 non-null  object
 12  lowest_price         161574 non-null  object
 13  company_name_y       161574 non-null  object
 14  change_y             161574 non-null  object
 15  foreign_net_volume   161574 non-null  object
 16  foreign_net_value    161574 non-null  object
 17  foreign_buy_volume   161574 non-null  object
 18  foreign_buy_value    161574 non-null  object
 19  foreign_sell_volume  161574 non-null  object
 20  foreign_sell_value   161574 non-null  object
 21  remaining_room       161574 non-null  object
 22  foreign_ownership    161574 non-null  object
dtypes: datetime64[ns](1), object(22)
memory usage: 28.4+ MB

In [48]:
# Các dòng có trong his_cost nhưng không có trong foreign_block
his_not_in_foreign = his_cost.merge(foreign_block, on=['stock_code', 'transaction_date'], how='left', indicator=True).query('_merge == "left_only"')

# Các dòng có trong foreign_block nhưng không có trong his_cost
foreign_not_in_his = foreign_block.merge(his_cost, on=['stock_code', 'transaction_date'], how='left', indicator=True).query('_merge == "left_only"')

print("Dữ liệu có trong his_cost nhưng không có trong foreign_block:")
print(his_not_in_foreign[['stock_code', 'transaction_date']])

print("Dữ liệu có trong foreign_block nhưng không có trong his_cost:")
print(foreign_not_in_his[['stock_code', 'transaction_date']])

Dữ liệu có trong his_cost nhưng không có trong foreign_block:
       stock_code transaction_date
119           ABC       2024-09-12
151           ABC       2024-07-26
152           ABC       2024-07-25
164           ABC       2024-07-09
166           ABC       2024-07-05
...           ...              ...
161813        YEG       2024-09-12
161845        YEG       2024-07-26
161846        YEG       2024-07-25
161858        YEG       2024-07-09
161860        YEG       2024-07-05

[1973 rows x 2 columns]
Dữ liệu có trong foreign_block nhưng không có trong his_cost:
       stock_code transaction_date
0             ABC       2025-03-11
1             ABC       2025-03-10
394           ABC       2023-08-01
718           ABC       2022-04-15
776           ABC       2022-01-17
...           ...              ...
164377        YEG       2025-03-12
164378        YEG       2025-03-11
164404        YEG       2025-02-03
165439        YEG       2020-11-27
166050        YEG              NaT

[4477 rows x 2 columns]

## Ghép các df lại thành 1 df

In [ ]:
trans_his = pd.merge(his_cost, foreign_block, on=['stock_code', 'transaction_date'], how='outer')
trans_his.head()

,stock_code,company_name_x,transaction_date,closing_price,adjusted_price,change_x,matched_volume,matched_value,negotiated_volume,negotiated_value,...,company_name_y,change_y,foreign_net_volume,foreign_net_value,foreign_buy_volume,foreign_buy_value,foreign_sell_volume,foreign_sell_value,remaining_room,foreign_ownership
0,ABC,CTCP Truyền thông VMG,2016-08-18,39.7,17.77,11.2(39.30 %),"25,400",1,0,0,...,CTCP Truyền thông VMG,39.7(39.30 %),0,0,0,0,0,0,"12,560",48.94%
1,ABC,CTCP Truyền thông VMG,2016-08-19,37.5,16.78,-1.7(-4.34 %),"23,700",0.91,0,0,...,CTCP Truyền thông VMG,37.5(-4.34 %),"1,300",0.05,"1,300",0.05,0,0,"11,260",48.94%
2,ABC,CTCP Truyền thông VMG,2016-08-22,36,16.11,-2.3(-6.01 %),"13,400",0.49,0,0,...,CTCP Truyền thông VMG,36(-6.01 %),"1,300",0.05,"1,300",0.05,0,0,"9,960",48.95%
3,ABC,CTCP Truyền thông VMG,2016-08-23,34.8,15.58,-1.8(-4.92 %),"5,000",0.18,0,0,...,CTCP Truyền thông VMG,34.8(-4.92 %),300,0.01,300,0.01,0,0,"9,660",48.95%
4,ABC,CTCP Truyền thông VMG,2016-08-24,35,15.67,-0.3(-0.85 %),"16,000",0.56,0,0,...,CTCP Truyền thông VMG,35(-0.85 %),0,0,0,0,0,0,"9,660",48.95%

In [35]:
trans_his.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168024 entries, 0 to 168023
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   stock_code           168024 non-null  object
 1   company_name_x       163547 non-null  object
 2   transaction_date     168023 non-null  datetime64[ns]
 3   closing_price        163547 non-null  object
 4   adjusted_price       163547 non-null  object
 5   change_x             163547 non-null  object
 6   matched_volume       163547 non-null  object
 7   matched_value        163547 non-null  object
 8   negotiated_volume    163547 non-null  object
 9   negotiated_value     163547 non-null  object
 10  opening_price        163547 non-null  object
 11  highest_price        163547 non-null  object
 12  lowest_price         163547 non-null  object
 13  company_name_y       166051 non-null  object
 14  change_y             166051 non-null  object
 15  foreign_net_volume   166051 non-null  object
 16  foreign_net_value    166051 non-null  object
 17  foreign_buy_volume   166051 non-null  object
 18  foreign_buy_value    166051 non-null  object
 19  foreign_sell_volume  166051 non-null  object
 20  foreign_sell_value   166051 non-null  object
 21  remaining_room       166051 non-null  object
 22  foreign_ownership    166051 non-null  object
dtypes: datetime64[ns](1), object(22)
memory usage: 29.5+ MB

In [36]:
trans_his.rename(columns={
    'company_name_x': 'company_name_hisCost',
    'company_name_y': 'company_name_foriegnBlock',
    'change_x': 'change_hisCost',
    'change_y': 'change_foriegnBlock'
}, inplace=True)

In [37]:
trans_his = pd.merge(trans_his, order_stat, on=['stock_code', 'transaction_date'], how='outer')
trans_his.head()

,stock_code,company_name_hisCost,transaction_date,closing_price,adjusted_price,change_hisCost,matched_volume,matched_value,negotiated_volume,negotiated_value,...,foreign_ownership,company_name,change,buy_orders,buy_volume,avg_buy_volume_per_order,sell_orders,sell_volume,avg_sell_volume_per_order,net_volume
0,ABC,CTCP Truyền thông VMG,2016-08-18,39.7,17.77,11.2(39.30 %),"25,400",1,0,0,...,48.94%,CTCP Truyền thông VMG,39.7 ( 39.3 %),69,"42,500",615.94,39,"27,600",708,"14,900"
1,ABC,CTCP Truyền thông VMG,2016-08-19,37.5,16.78,-1.7(-4.34 %),"23,700",0.91,0,0,...,48.94%,CTCP Truyền thông VMG,37.5 ( -4.34 %),39,"30,900",792.31,36,"39,700","1,103","-8,800"
2,ABC,CTCP Truyền thông VMG,2016-08-22,36,16.11,-2.3(-6.01 %),"13,400",0.49,0,0,...,48.95%,CTCP Truyền thông VMG,36 ( -6.01 %),19,"16,000",842.11,25,"24,200",968,"-8,200"
3,ABC,CTCP Truyền thông VMG,2016-08-23,34.8,15.58,-1.8(-4.92 %),"5,000",0.18,0,0,...,48.95%,CTCP Truyền thông VMG,34.8 ( -4.92 %),17,"10,600",623.53,12,"14,000","1,167","-3,400"
4,ABC,CTCP Truyền thông VMG,2016-08-24,35,15.67,-0.3(-0.85 %),"16,000",0.56,0,0,...,48.95%,CTCP Truyền thông VMG,35 ( -0.85 %),13,"19,800","1,523.08",10,"30,500","3,050","-10,700"

In [38]:
trans_his.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168106 entries, 0 to 168105
Data columns (total 32 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   stock_code                 168106 non-null  object
 1   company_name_hisCost       163607 non-null  object
 2   transaction_date           168105 non-null  datetime64[ns]
 3   closing_price              163607 non-null  object
 4   adjusted_price             163607 non-null  object
 5   change_hisCost             163607 non-null  object
 6   matched_volume             163607 non-null  object
 7   matched_value              163607 non-null  object
 8   negotiated_volume          163607 non-null  object
 9   negotiated_value           163607 non-null  object
 10  opening_price              163607 non-null  object
 11  highest_price              163607 non-null  object
 12  lowest_price               163607 non-null  object
 13  company_name_foriegnBlock  166111 non-null  object
 14  change_foriegnBlock        166111 non-null  object
 15  foreign_net_volume         166111 non-null  object
 16  foreign_net_value          166111 non-null  object
 17  foreign_buy_volume         166111 non-null  object
 18  foreign_buy_value          166111 non-null  object
 19  foreign_sell_volume        166111 non-null  object
 20  foreign_sell_value         166111 non-null  object
 21  remaining_room             166111 non-null  object
 22  foreign_ownership          166111 non-null  object
 23  company_name               164486 non-null  object
 24  change                     164486 non-null  object
 25  buy_orders                 164486 non-null  object
 26  buy_volume                 164486 non-null  object
 27  avg_buy_volume_per_order   164486 non-null  object
 28  sell_orders                164486 non-null  object
 29  sell_volume                164486 non-null  object
 30  avg_sell_volume_per_order  164486 non-null  object
 31  net_volume                 164486 non-null  object
dtypes: datetime64[ns](1), object(31)
memory usage: 41.0+ MB

In [39]:
trans_his.rename(columns={
    'company_name': 'company_name_orderStat',
    'change': 'change_orderStat'
}, inplace=True)

In [40]:
trans_his = pd.merge(trans_his, self_employ, on=['stock_code', 'transaction_date'], how='outer')
trans_his.head()

,stock_code,company_name_hisCost,transaction_date,closing_price,adjusted_price,change_hisCost,matched_volume,matched_value,negotiated_volume,negotiated_value,...,sell_volume,avg_sell_volume_per_order,net_volume,company_name,proprietary_buy_volume,proprietary_buy_value,proprietary_sell_volume,proprietary_sell_value,proprietary_net_volume,proprietary_net_value
0,ABC,CTCP Truyền thông VMG,2016-08-18,39.7,17.77,11.2(39.30 %),"25,400",1,0,0,...,"27,600",708,"14,900",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABC,CTCP Truyền thông VMG,2016-08-19,37.5,16.78,-1.7(-4.34 %),"23,700",0.91,0,0,...,"39,700","1,103","-8,800",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABC,CTCP Truyền thông VMG,2016-08-22,36,16.11,-2.3(-6.01 %),"13,400",0.49,0,0,...,"24,200",968,"-8,200",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABC,CTCP Truyền thông VMG,2016-08-23,34.8,15.58,-1.8(-4.92 %),"5,000",0.18,0,0,...,"14,000","1,167","-3,400",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABC,CTCP Truyền thông VMG,2016-08-24,35,15.67,-0.3(-0.85 %),"16,000",0.56,0,0,...,"30,500","3,050","-10,700",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
trans_his.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168108 entries, 0 to 168107
Data columns (total 39 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   stock_code                 168108 non-null  object
 1   company_name_hisCost       163607 non-null  object
 2   transaction_date           168107 non-null  datetime64[ns]
 3   closing_price              163607 non-null  object
 4   adjusted_price             163607 non-null  object
 5   change_hisCost             163607 non-null  object
 6   matched_volume             163607 non-null  object
 7   matched_value              163607 non-null  object
 8   negotiated_volume          163607 non-null  object
 9   negotiated_value           163607 non-null  object
 10  opening_price              163607 non-null  object
 11  highest_price              163607 non-null  object
 12  lowest_price               163607 non-null  object
 13  company_name_foriegnBlock  166111 non-null  object
 14  change_foriegnBlock        166111 non-null  object
 15  foreign_net_volume         166111 non-null  object
 16  foreign_net_value          166111 non-null  object
 17  foreign_buy_volume         166111 non-null  object
 18  foreign_buy_value          166111 non-null  object
 19  foreign_sell_volume        166111 non-null  object
 20  foreign_sell_value         166111 non-null  object
 21  remaining_room             166111 non-null  object
 22  foreign_ownership          166111 non-null  object
 23  company_name_orderStat     164486 non-null  object
 24  change_orderStat           164486 non-null  object
 25  buy_orders                 164486 non-null  object
 26  buy_volume                 164486 non-null  object
 27  avg_buy_volume_per_order   164486 non-null  object
 28  sell_orders                164486 non-null  object
 29  sell_volume                164486 non-null  object
 30  avg_sell_volume_per_order  164486 non-null  object
 31  net_volume                 164486 non-null  object
 32  company_name               468 non-null     object
 33  proprietary_buy_volume     468 non-null     object
 34  proprietary_buy_value      468 non-null     object
 35  proprietary_sell_volume    468 non-null     object
 36  proprietary_sell_value     468 non-null     object
 37  proprietary_net_volume     468 non-null     object
 38  proprietary_net_value      468 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(37)
memory usage: 50.0+ MB

In [42]:
trans_his.drop(['company_name_hisCost', 'company_name_orderStat', 'company_name'], axis=1, inplace=True)
trans_his.head()

,stock_code,transaction_date,closing_price,adjusted_price,change_hisCost,matched_volume,matched_value,negotiated_volume,negotiated_value,opening_price,...,sell_orders,sell_volume,avg_sell_volume_per_order,net_volume,proprietary_buy_volume,proprietary_buy_value,proprietary_sell_volume,proprietary_sell_value,proprietary_net_volume,proprietary_net_value
0,ABC,2016-08-18,39.7,17.77,11.2(39.30 %),"25,400",1,0,0,39.9,...,39,"27,600",708,"14,900",NaN,NaN,NaN,NaN,NaN,NaN
1,ABC,2016-08-19,37.5,16.78,-1.7(-4.34 %),"23,700",0.91,0,0,39.3,...,36,"39,700","1,103","-8,800",NaN,NaN,NaN,NaN,NaN,NaN
2,ABC,2016-08-22,36,16.11,-2.3(-6.01 %),"13,400",0.49,0,0,38,...,25,"24,200",968,"-8,200",NaN,NaN,NaN,NaN,NaN,NaN
3,ABC,2016-08-23,34.8,15.58,-1.8(-4.92 %),"5,000",0.18,0,0,36,...,12,"14,000","1,167","-3,400",NaN,NaN,NaN,NaN,NaN,NaN
4,ABC,2016-08-24,35,15.67,-0.3(-0.85 %),"16,000",0.56,0,0,34.8,...,10,"30,500","3,050","-10,700",NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
trans_his.to_csv(r'/home/hamornic/FinalXXX/DataScraped/Transaction History/transaction_history.csv', encoding="utf-8-sig")